@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#1c26b8;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #ffffff,#dcdaff, #5450b1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.center-name {
    font-size: 2em;
    color: white; /* Text color */
}

.header img{
    width: 700px;
    padding: 10px;

}

.signup-box {
    background-color: rgb(238, 240, 248);
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
}

/* Title */
.signup-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #626386;
    font-size: 35px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Labels and Inputs */
.signup-box label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #444;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Button */
.signup-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #454681;
    border: none;
    color: white;
    
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-box button:hover {
    background-color: #171d55;
}

.signup-box p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #626386;
    text-decoration: underline;
    margin-top: 1rem;
    

}

/*.signup-box .exit a{
   display: flex;
   text-align: center;
   position: relative;
   margin-top: 1.5rem;
   color:#fff;
   text-decoration: none;
   border-radius: .3rem;
   background-color:#4b5094;
   padding:8px 109px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   
   
}*/

.register-box {
    background-color: rgb(238, 240, 248);
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 550px;
}

/* Title */
.register-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #626386;
    font-size: 35px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Labels and Inputs */
.register-box label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #444;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Button */
.register-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #454681;
    border: none;
    color: white;
    
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.register-box button:hover {
    background-color: #171d55;
}

.register-box p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #626386;
    text-decoration: underline;
    margin-top: 1rem;
    

}
